<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="AutoMapper" />
      <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Http" />
      <package pattern="Newtonsoft.Json" />
	 <!-- Add more as needed for your project! -->
      <package pattern="Serilog.AspNetCore" />
      <package pattern="Serilog.Sinks.ApplicationInsights" />
      <package pattern="Serilog.Extensions.Logging.File" />
      <package pattern="Microsoft.NET.Sdk.Functions" />
      <package pattern="Microsoft.EntityFrameworkCore.Tools" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.OpenApi" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.DurableTask" />
      <package pattern="Microsoft.EntityFrameworkCore.SqlServer" />
      <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
      <package pattern="AutoMapper" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Http" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.Azure.Functions.Extensions" />
      <package pattern="Microsoft.Azure.WebJobs" />
      <package pattern="Microsoft.Azure.WebJobs.Core" />
      <package pattern="Microsoft.EntityFrameworkCore.Design" />
      <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Relational" />
      <package pattern="Microsoft.Data.SqlClient" />
      <package pattern="Microsoft.Data.SqlClient.SNI.runtime" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.Bcl.HashCode" />
      <package pattern="System.ComponentModel.Annotations" />
      <package pattern="Serilog" />
      <package pattern="Serilog.Sinks.File" />
      <package pattern="Serilog.Enrichers.AspNetCore" />
      <package pattern="Serilog.Extensions.Logging.ApplicationInsights" />
      <package pattern="Serilog.Extensions.Hosting" />
      <package pattern="Serilog.Formatting.Compact" />
      <package pattern="Serilog.Settings.Configuration" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="Serilog.Sinks.Debug" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.Async" />
      <package pattern="Serilog.Sinks.RollingFile" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="System.Memory.Data" />
      <package pattern="Azure.Core" />
      <package pattern="Azure.Identity" />
      <package pattern="Microsoft.Identity.Client" />
      <package pattern="Microsoft.Identity.Client.Extensions.Msal" />
      <package pattern="Microsoft.IdentityModel.Abstractions" />
      <package pattern="Microsoft.IdentityModel.Protocols" />
      <package pattern="Microsoft.IdentityModel.Protocols.OpenIdConnect" />
      <package pattern="Microsoft.IdentityModel.Tokens" />
      <package pattern="Microsoft.SqlServer.Server" />
      <package pattern="System.Configuration.ConfigurationManager" />
      <package pattern="System.Runtime.Caching" />
      <package pattern="System.Security.Cryptography.ProtectedData" />
      <package pattern="System.Security.Permissions" />
      <package pattern="Microsoft.AspNetCore.Mvc.WebApiCompatShim" />
      <package pattern="Microsoft.AspNetCore.Http.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Mvc.Abstractions" />
      <package pattern="Microsoft.AspNetCore.WebUtilities" />
      <package pattern="Microsoft.Azure.DurableTask.ApplicationInsights" />
      <package pattern="Microsoft.Azure.DurableTask.AzureStorage" />
      <package pattern="Microsoft.Azure.DurableTask.Core" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.DurableTask.Analyzers" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Rpc" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.OpenApi.Core" />
      <package pattern="Microsoft.Azure.Functions.Analyzers" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions" />
      <package pattern="Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Grpc.*" />
      <package pattern="Microsoft.IdentityModel.Logging" />
      <package pattern="Azure.Data.Tables" />
      <package pattern="Azure.Storage.Blobs" />
      <package pattern="Azure.Storage.Queues" />
      <package pattern="System.Linq.Async" />
      <package pattern="Castle.Core" />
      <package pattern="Microsoft.Extensions.DependencyModel" />
      <package pattern="Microsoft.DotNet.PlatformAbstractions" />
      <package pattern="Microsoft.AspNetCore.Http" />
      <package pattern="Microsoft.AspNetCore.Routing" />
      <package pattern="System.Reactive.Compatibility" />
      <package pattern="System.Reactive.Core" />
      <package pattern="Microsoft.Azure.WebJobs.Rpc.Core" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.OpenApi.Configuration.AppSettings" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Microsoft.Azure.WebJobs.Host.Storage" />
      <package pattern="ncrontab.signed" />
      <package pattern="Microsoft.Net.Http.Headers" />
      <package pattern="System.ClientModel" />
      <package pattern="Azure.Storage.Common" />
      <package pattern="System.Diagnostics.EventLog" />
      <package pattern="System.Reactive.Interfaces" />
      <package pattern="System.Reactive.Linq" />
      <package pattern="System.Reactive.PlatformServices" />
      <package pattern="System.Reactive.Providers" />
      <package pattern="System.Reactive" />
      <package pattern="Google.Protobuf" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="System.Windows.Extensions" />
      <package pattern="System.IO.Hashing" />
      <package pattern="System.Drawing.Common" />
      <package pattern="Microsoft.Win32.SystemEvents" />
      <package pattern="Microsoft.Bcl.Cryptography" />
      <package pattern="System.Security.Cryptography.Pkcs" />
      <package pattern="Humanizer.Core" />
      <package pattern="Microsoft.Build.Framework" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Workspaces" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.Common" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.MSBuild" />
      <package pattern="Microsoft.VisualStudio.SolutionPersistence" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Composition" />
      <package pattern="System.Composition.AttributedModel" />
      <package pattern="System.Composition.Convention" />
      <package pattern="System.Composition.Hosting" />
      <package pattern="System.Composition.Runtime" />
      <package pattern="System.Composition.TypedParts" />
    </packageSource>
  </packageSourceMapping>
</configuration>